<div class="container">
  <div class="register-item">
    <form #myform="ngForm" (ngSubmit)="register(myform)" class="mdb-form form-register">
      <div class="text-end" style="width: 100%;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSWCPSXn9DneOl1Nnz9UPk6igYnvmswguG09A&usqp=CAU"
          style="height: 100px; width: 100px">

      </div>
      <div *ngIf="authService.showAlreadyRegisteredDiv" role="alert" class="alert alert-danger">The email you
        have entered is already registered. Please proceed to login</div>

      <div class="form-field">
        <label><i class="fa fa-user" aria-hidden="true"></i></label>
        <label class="user" for="register-username"><span class="hidden">Name</span></label>
        <input name="name" id="register-username" type="text" class="form-input" placeholder="Name" #name='ngModel'
          ngModel required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p style="color: black;">Name is required</p>
        </div>
      </div>
      <div class="form-field">
        <label><i class="fa fa-envelope" aria-hidden="true"></i></label>
        <label class="user" for="register-email"><span class="hidden">Email</span></label>
        <input name="email" id="register-email" type="email" class="form-input" placeholder="Email" #email='ngModel'
          ngModel required>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          <p style="color: black;">Email is required</p>
        </div>
      </div>

      <div class="form-field">
        <label><i class="fa fa-key" aria-hidden="true"></i></label>
        <label class="lock" for="register-password"><span class="hidden">Password</span></label>
        <input name="password" id="register-password" type="password" class="form-input" placeholder="Password"
          #password='ngModel' ngModel required>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          <p style="color: black;">Email is required or {{errorMessage}}</p>
        </div>
      </div>

      <div class="form-field">
        <input class="btn-info" type="submit" value="Register" mat-raised-button>
        <p>Already have an Account? <a routerLink="/landing">Sign in Here</a></p>
      </div>
    </form>
  </div>
</div>