<div class="password-reset">
    <div class="row text-center">
        <div class="col-md-9">
            <h1>Reset Password Your Password</h1>
            <hr>

            <h3 class="text-center">Please enter your email address to request a password reset.</h3>

            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <input type="submit" class="btn btn-primary" value="Send Email"
                    (click)="sendMail(passwordResetEmail)" style="width: 90%;" >
            </div>
        </div>

        <div class="redirectToLandingPage col-md-9" >
            <a class="redirect btn btn-primary" routerLink="/landing">Back to Home Page</a>
        </div>

    </div>
</div>