/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* 
html, body { height: 100%; }
*/
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("https://architizer-prod.imgix.net/media/1496273911144SDS_1260_Connor_23_Interior_Lobby.jpg?q=60&auto=format,compress&cs=strip&w=1680");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 


